<?xml version="1.0" encoding="UTF-8" standalone="no"?><dominionSettings><setting id="1"><PlayerName>obada</PlayerName><ip>localhost</ip><height>1080.0</height><width>1920.0</width><soundOn>true</soundOn><volum>0.4054421872508769</volum><creationDate>2020/01/28 18:14:09</creationDate><fullscreen>true</fullscreen></setting></dominionSettings>