.root {
    -fx-background-image: url("/src/main/resources/backgrounds/raphael-lacoste-ifx-final-rlacoste-10years.png");
    -fx-background-size: cover;
}

.label {
    -fx-font-family: "Apple Chancery";
}

.trashPopup {
    -fx-border-color: white;
    -fx-background-image: url("/src/main/resources/backgrounds/got-doors-background.jpg");
}

.trashSelection {
    -fx-background-image: url("/src/main/resources/backgrounds/emptyBackGround.jpg");
}

.endTurnBtn {
    -fx-background-radius: 30;
    -fx-background-color: #ffbf00;
}

.endTurnBtn:hover {
    -fx-background-color: #dad7ce;
}

.trashWindow {
    -fx-border-color: white;
    -fx-background-image: url("/src/main/resources/backgrounds/RobinFriend_Gaewern.jpg");
}