.root {
    -fx-background-image: url("/src/main/resources/backgrounds/lobbyBG.jpg");
    -fx-font-family: "Apple Chancery";
}

.label {
    -fx-font-family: "Apple Chancery";
}


/*Chat*/

.chatBox {
    -fx-opacity: 0.35;
}

.chatBoxHBox {
    -fx-border-color: #7d7d7e;
    -fx-border-width: 4;
}